In [1]:
import yfinance as yfin


df_Eur_Usd = yfin.Ticker("EURUSD=X")

Eur_Usd_5min = df_Eur_Usd.history(period = '60d', interval = '5m')

Eur_Usd_5min.index = Eur_Usd_5min.index.tz_localize(None) # The Timezone is +1h


Eur_Usd_5min.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-01-08 09:15:00,1.032631,1.032844,1.032524,1.032844,0,0.0,0.0
2025-01-08 09:20:00,1.032524,1.032631,1.032311,1.032311,0,0.0,0.0
2025-01-08 09:25:00,1.032098,1.032205,1.032098,1.032205,0,0.0,0.0
2025-01-08 09:30:00,1.032418,1.032524,1.032418,1.032524,0,0.0,0.0
2025-01-08 09:35:00,1.032418,1.032418,1.032418,1.032418,0,0.0,0.0

In [2]:
from datetime import date

# Get the current date
current_date = date.today().strftime("%Y-%m-%d")
df_name = r"C:\Users\berna\OneDrive\Documentos\DS_Master\Articles Forex\Data" + r"\Eur_Usd_5min_" + current_date + ".xlsx"
#print(df_name)

Eur_Usd_5min.to_excel(df_name, index=True)

print("Done")

Done

In [3]:
df_Eur_Jpy = yfin.Ticker("EURJPY=X")

df_Eur_Jpy_5min = df_Eur_Jpy.history(period = '60d', interval = '5m')

df_Eur_Jpy_5min.index = df_Eur_Jpy_5min.index.tz_localize(None) # The Timezone is +1h

df_Eur_Jpy_5min.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-01-08 09:15:00,163.207001,163.222000,163.173996,163.194000,0,0.0,0.0
2025-01-08 09:20:00,163.192001,163.207001,163.123001,163.153000,0,0.0,0.0
2025-01-08 09:25:00,163.151001,163.240997,163.119995,163.216995,0,0.0,0.0
2025-01-08 09:30:00,163.216003,163.253998,163.167999,163.244003,0,0.0,0.0
2025-01-08 09:35:00,163.242004,163.251999,163.195999,163.227005,0,0.0,0.0

In [4]:
# Get the current date

df_name = r"C:\Users\berna\OneDrive\Documentos\DS_Master\Articles Forex\Data" + r"\Eur_Jpy_5min_" + current_date + ".xlsx"
#print(df_name)

df_Eur_Jpy_5min.to_excel(df_name, index=True)

print("Done")

Done